body{
  text-align: center;
  background-color: #100000;
}

.header{
  height: 60px;
  color: #f8f1f1;;
  background: linear-gradient(#4d0101, #100000);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.container{
  padding: 4rem 3rem;
  display: flex ;
  justify-content: space-around;
  flex-wrap: wrap;
}